html {
  height: 100%
}

body {
  height: 100%
}

.splash-header {
  //background: image-url('dc_banner.jpg') no-repeat 50% 50% fixed;
}

.splash-background-DISABLED {
  background: image-url('rosegarden_with_bars.jpg') no-repeat 50% 50% fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
}

.splash-background {
  nav {
    background: rgba(0, 0, 0, 0.7);
    width: 100% !important;
    @include border-radius(5px);
  }

  footer {
    color: white;
    background-color: transparent;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 25px;

    a {
      color: white;
      text-decoration: underline;

      &.iconLink {
        text-decoration: none
      }
    }
  }

}

.splash-content {
  padding: 10px 10px 0px 10px;

  .search-bar {
    height: 70px;
    font-size: 18pt;
  }

  .input-group-btn>.btn {
    height: 70px;
    width: 70px;

    &:hover {
      border-color: $dark-purple;
    }
  }

  .splash-text-container {
    @include border-radius(5px);
    color: #11519B;
    //background: rgb(0, 0, 0);
    /* fallback color */
    //background: rgba(0, 0, 0, 0.6);
  }

  h1 {
    font-weight: bold;
    font-size: 70pt;
    padding-bottom: 10px
  }

  h3 {
    font-weight: 400;
    font-size: 30pt;
    padding-top: 10px
  }

  .splash-bottom-padding {
    padding-bottom: 10px
  }

  .splash-add-experience-btn-description {
    font-size: 20pt;
    margin-bottom: 30px;
  }

  .splash-add-experience-btn {
    width: 60%;
    font-size: 13pt;
    font-weight: bold;
    margin-bottom: 10px;
    @include box-shadow(7px 7px 24px 0px rgba(50, 50, 50, 0.75));

    i {
      vertical-align: middle;
      margin-left: 20px
    }
  }
}

.top-cities-container {
  padding: 5px;
  color: white;
  background: rgb(0, 0, 0);
  /* fallback color */
  background: rgba(0, 0, 0, 0.4);

  p {
    margin: 0
  }

  a {
    color: white;
  }
}