%span.business_infotext
  %center
    %h1 Attributions
  .text-padding.p-text-sizebump
    %section
      %p= link_to 'Familydestinationsguide.com Images', "https://commons.wikimedia.org/wiki/File:Washington_DC_Skyline_Illustration.jpg"
      %p= link_to 'CC BY 2.0', "https://creativecommons.org/licenses/by/2.0"
     