%span.business_infotext
  %center
    %h1 Privacy Policy
  .text-padding.p-text-sizebump
    %section
      %p This Privacy Policy applies to the website www.waybacktogovernment.org (“Website” or “We” or “Us”) and the persons maintaining it, and governs its data collection and usage. It is effective as of March 1, 2025.

      %p This Website is an online community website. It is also a public platform. Anyone visiting the Website will see the information you submit as an anonymous post. You may choose to submit, on a confidential basis, your contact information for the purposes of Us or a third party communicating with you. Your contact information will not be shared publicly on this Website.

      %p By using the Website, you consent to the data practices described in this statement.

      %h2 Collection of Your Personal Information
      %p We do not collect any personal information unless you voluntarily provide it to Us. You may submit personal information, including your name, email address, or phone number, if you elect to permit contact with you. You may be required to provide certain personal information if you send Us an email. We will use this information in relation to communicating with you about the services provided by this Website.

      %h2 Use of Your Personal Information
      %p The Website collects and uses personal information in the following ways:
      %ul
        %li To communicate to you a request to contact you to learn more about the content of your submission to the Website;
        %li To provide you with information or a service that you request from us;
        %li To notify you about changes to this Website;
        %li In any other way we describe when we communicate with you or notify you;
        %li For any other purpose with your consent.

      %h2 Sharing Information with Third Parties
      %p The Website does not sell, lease, or rent the information it collects with third parties.
      %p If you voluntarily submit your name and contact information (i.e., email address and/or phone number), you might receive a communication from Us or from a third party requesting your permission to contact you. You will be contacted only if you respond to the communicated request and provide your consent. All such third parties are prohibited from using your personal information except for the purpose of communicating to you a request to contact you to learn more details about your submission to the Website, and they are required to maintain the confidentiality of your personal information.
      %p Contact after receipt of your consent may be from Us or from a third party seeking additional details about the content of your submission to the Website. Should you agree to speak with Us or the third party for the purpose(s) represented by Us or the third party at the time of the contact, you will have the opportunity to agree to or reject the use of your personal information or any additional information you provide for the purpose(s) proposed.
      %p The Website may disclose your personal information without notice if We are required to do so by the law or pursuant to the good faith belief that We must do so to comply with legal process served upon the site; to protect and defend the rights of the Website or those maintaining it; and / or to respond to exigent circumstances to protect the safety of the Website users, those maintaining it, or the public.

      %h2 Opt Out of Disclosing Personal Information to this Website or to Third Parties
      %p You may opt out of disclosure of your personal information at the time you submit content to the Website by not providing your personal information (i.e., name, email address, and/or phone number).
      %p If you provide your personal information at the time of submitting content to the Website, you have the right to know that We may provide your name, email address, and phone number, to the extent you submitted the same, to a third party for the purpose of communicating with you.
      %p If you elect to provide your personal information to this Website, you may subsequently opt out of disclosure by emailing Us at optout@waybacktogovt.org. Upon receipt of a verifiable email from you, We will delete your personal information from our database and direct any third parties to delete your personal information from their records.
      %p Please note that We may not be able to comply with a request to delete your personal information if the information is necessary for any of the following reasons:
      %ul
        %li Detect security incidents;
        %li Protect against malicious, deceptive, fraudulent, or illegal activity or prosecute those responsible for such activity;
        %li Debug the Website to identify and repair errors that impair existing or intended functionality;
        %li Comply with California Electronics Communication Privacy Act;
        %li Enable solely internal users maintaining the Website for actions reasonably aligned with your expectations when submitting content to the Website; or
        %li Comply with a legal obligation.

      %h2 How We Protect Personal Information
      %p We take measures to help protect personal information about you from loss, theft, misuse and unauthorized access, disclosure, alteration, and destruction. For example, we use HTTPS while information is being transmitted and store the information in a secure database. We also enforce technical and administrative access controls to the database, which limits the persons who have access to non-public personal information.
      %p Way Back to Government stores the information collected on this Website for as long as it is necessary for the purpose(s) for which it was originally submitted. It may retain certain information for legitimate business purposes and / or if doing so is in accordance with, or as required by, any applicable law. For example, if you email the Website, We may securely store the identifiers used to respond to the email to record the fact of the response.

      %h2 Children Under 13 Years of Age
      %p The Website does not knowingly collect personally identifying information from persons under the age of 13. If you are under the age of 13, you must ask your parent or guardian for permission to use this Website.

      %h2 Changes to This Statement
      %p This Website and those maintaining it reserve the right to change this Privacy Policy from time to time. For example, this Policy may change when there are changes in the purpose(s) of this Website, in its data protection practices, or changes in applicable law(s). You may receive notice by receipt of an email communication to the email address you provided or by publication of a prominently-displayed notice on this Website. Your continued use of this Website after such modifications and notice will constitute (a) your acknowledgement of such modified Policy and (b) your agreement to be bound by and abide by that Policy.

      %h2 Contact Information
      %p If you have comments or questions about this Privacy Policy or this Website’s activities related to any aspect of this Privacy Policy, you may submit the same by email to info@waybacktogovt.org.

      %h2 Revisions
      %p None.