- unisex_class = experience.unisex? ? '' : 'not_unisex'
- accessible_class = experience.accessible? ? '' : 'not_accessible'
- changing_table_class = experience.changing_table? ? '' : 'no_changing_table'

%li{ class: "listItem clearfix #{unisex_class} #{accessible_class} #{changing_table_class}",
          data: { id: experience.id} }
  .listItemImage
    / image tag goes here
  =render 'experience_body', experience: experience