%footer
  .footer
    %a.iconLink{:href => "https://www.linkedin.com/company/way-back-to-government", :aria => { :label => t('.aria-labels.linkedin')}}
      %i.icon.fa.fa-linkedin-square.fa-3x
    %a.iconLink{:href => '/contact', :aria => { :label => t('.aria-labels.email')}}
      %i.icon.fa.fa-envelope.fa-3x
    %br/
    = "\&copy; #{t('.copyleft')}  #{Date.today.year} Way Back To Government".html_safe
    = link_to "Attributions", '/attributions'

