!!!
%html{lang: I18n.locale}
  %head
    = render 'layouts/head'
  %body
    .splash-header
      = image_tag asset_path("dc_banner.jpg"), alt: "DC Banner"
    .splash-background
      = render 'layouts/navigation'
      .container
        = yield
